
.even_row {
    background-color: var(--cadet);
    color: var(--platinum);
}

.odd_row {
    background-color: var(--columbia-blue);
    color: var(--platinum);
}
.apply_button {
    width: 100%;
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

#error_section{
    width: 100px;
    length:100px
}