:root{

    --burnt-sienna: #dd6e42ff;
    --dutch-white: #e8dab2ff;
    --cadet: #354950;
    --columbia-blue: #b5cad2;
    --platinum: #eaeaeaff;
    --flickr-pink: #f72585ff;
    --byzantine: #b5179eff;
    --purple: #7209b7ff;
    --purple-2: #560badff;
    --trypan-blue: #480ca8ff;
    --trypan-blue-2: #3a0ca3ff;
    --persian-blue: #3f37c9ff;
    --ultramarine-blue: #4361eeff;
    --dodger-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
}
.even_row {
    background-color: var(--cadet);
    color: var(--platinum);
}

.odd_row {
    background-color: var(--columbia-blue);
    color: var(--platinum);
}
.apply_button {
    width: 100%;
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

#error_section{
    width: 100px;
    length:100px
}
#footer{
    height: 80px;
    background-color: var(--burnt-sienna);
    color: var(--platinum);
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}

.creator_info h6{
    white-space: nowrap;
}