/*#successText {*/
/*    max-height: 80%;*/
/*    !*margin-outside: 90px;*!*/
/*}*/

.bg-primary{
    height: 30rem;
    width: 60%;
}

.card-body{
    text-align: center;
    justify-content: center;
    margin-top: 25%;
}

.success-card{
    font-family: sans-serif;
    margin-bottom: 30%;
}

.success-card h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4%;
    /*padding-top: 3%;*/

}

.card-container{
    margin-top: 10%;
}
.success-btn{
    justify-content: center;
    align-content: center;
}

.btn-success{
    /*max-width: 0%;*/
    align-content: center;
    /*margin-left: 20%*/

}

