
:root{

    --burnt-sienna: #dd6e42ff;
    --dutch-white: #e8dab2ff;
    --cadet: #4f6d7aff;
    --columbia-blue: #b5cad2;
    --platinum: #eaeaeaff;
    --flickr-pink: #f72585ff;
    --byzantine: #b5179eff;
    --purple: #7209b7ff;
    --purple-2: #560badff;
    --trypan-blue: #480ca8ff;
    --trypan-blue-2: #3a0ca3ff;
    --persian-blue: #3f37c9ff;
    --ultramarine-blue: #4361eeff;
    --dodger-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
}

.bg-primary{
    height: 30rem;
    width: 60%;
}

.card-body{
    text-align: center;
    justify-content: center;
    margin-top: 17%;
}

.success-card{
    font-family: sans-serif;
    margin-bottom: 9%;
}

.success-card h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4%;
    /*padding-top: 3%;*/

}

.card-container{
    margin-top: 10%;
}
.success-btn{
    justify-content: center;
    align-content: center;
}

.btn-success{
    /*max-width: 0%;*/
    align-content: center;
    /*margin-left: 20%*/

}
#footer{
    height: 80px;
    background-color: var(--burnt-sienna);
    color: var(--platinum);
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}

