:root{
    --burnt-sienna: #dd6e42;
    --dutch-white: #e8dab2ff;
    --cadet: #4f6d7aff;
    --columbia-blue: #b5cad2;
    --columbia-blue4: #063041;
    --platinum: #eaeaeaff;
    --flickr-pink: #f72585ff;
    --byzantine: #b5179eff;
    --purple: #7209b7ff;
    --purple-2: #560badff;
    --trypan-blue: #480ca8ff;
    --trypan-blue-2: #3a0ca3ff;
    --persian-blue: #3f37c9ff;
    --ultramarine-blue: #4361eeff;
    --dodger-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
}

body{
    background-color: #b3c5cd;
}
#carousel{
    padding-top: 5%;
}
#aboutUs p{
    font-family: sans-serif;
    font-size: 1rem;
    padding-bottom: 5%;
}

#carousel img{
    height: 400px;
    max-width: 60%;
    align-content: center;
    margin-right: 30%;
    margin-left: 20%;
}
#footer{
    height: 80px;
    background-color: var(--burnt-sienna);
    color: var(--platinum);
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}

.nav-items{
    float: right;
    margin-left: 40%;
}

.nav-inner{
    color:var(--platinum);
    font-size: 1.3rem;
    font-family: 'Limelight', cursive;
}

.about{
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-brand img{
    color: var(--trypan-blue-2);
}