:root{
    --burnt-sienna: #dd6e42;
    --dutch-white: #e8dab2ff;
    --cadet: #4f6d7aff;
    --columbia-blue: #b5cad2;
    --columbia-blue4: #063041;
    --platinum: #eaeaeaff;
    --flickr-pink: #f72585ff;
    --byzantine: #b5179eff;
    --purple: #7209b7ff;
    --purple-2: #560badff;
    --trypan-blue: #480ca8ff;
    --trypan-blue-2: #3a0ca3ff;
    --persian-blue: #3f37c9ff;
    --ultramarine-blue: #4361eeff;
    --dodger-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
}

#carousel{
    /*padding-top: 5%;*/
}
#aboutUs p{
    font-family: sans-serif;
    font-size: 1.3rem;
}

#aboutUs h1{
    padding-top: 2%;
}

#carousel img{
    height: 380px;
    max-width: 55%;
    align-content: center;
    margin-right: 30%;
    margin-left: 20%;
}

.about{
    padding-left: 10%;
    padding-right: 10%;
}

/*.navbar-brand img{*/
/*    color: var(--trypan-blue-2);*/
/*}*/