
:root{
    --burnt-sienna: #dd6e42ff;
    --dutch-white: #e8dab2ff;
    --cadet: #364b52;
    --columbia-blue: #b3c5cd;
    --platinum: #eaeaeaff;
    --flickr-pink: #f72585ff;
    --byzantine: #b5179eff;
    --purple: #7209b7ff;
    --purple-2: #560badff;
    --trypan-blue: #480ca8ff;
    --trypan-blue-2: #3a0ca3ff;
    --persian-blue: #3f37c9ff;
    --ultramarine-blue: #4361eeff;
    --dodger-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
}

.bg-primary{
    height: 40rem;
    width: 100%;
}

.card-body{
    text-align: center;
    justify-content: center;
    margin-top: 9.5%;
}
.project-success{
    margin-bottom: 6.5%;
}

.success-card{
    font-family: sans-serif;
    margin-bottom:15%;
}

.success-card h5{
    text-align: center;
    font-size: 3rem;
}

.card-container{
    margin-top: 10%;
}
.success-btn{
    justify-content: center;
    align-content: center;
}


#footer{
    height: 80px;
    background-color: var(--burnt-sienna);
    color: var(--platinum);
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}