/*#successText {*/
/*    max-height: 80%;*/
/*    !*margin-outside: 90px;*!*/
/*}*/
:root{

    --burnt-sienna: #dd6e42ff;
    --dutch-white: #e8dab2ff;
    --cadet: #4f6d7aff;
    --columbia-blue: #c0d6dfff;
    --platinum: #eaeaeaff;
    --flickr-pink: #f72585ff;
    --byzantine: #b5179eff;
    --purple: #7209b7ff;
    --purple-2: #560badff;
    --trypan-blue: #480ca8ff;
    --trypan-blue-2: #3a0ca3ff;
    --persian-blue: #3f37c9ff;
    --ultramarine-blue: #4361eeff;
    --dodger-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
}
.bg-primary{
    height: 30rem;
    width: 100%;
}

.card-body{
    text-align: center;
    justify-content: center;
    margin-top: 25%;
}

.success-card{
    font-family: sans-serif;
    margin-bottom: 30%;
}

.success-card h5{
    text-align: center;
    font-size: 3rem;
}

.card-container{
    margin-top: 10%;
}
.success-btn{
    justify-content: center;
    align-content: center;
}


#footer{
    height: 80px;
    background-color: var(--burnt-sienna);
    color: var(--platinum);
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}